.LG{
  color: rgb(140,167,47);
  font-size: 20px;


}

  .flexboxContainer{
    display: flex;
    flex-direction: row;
    border: none;


    /*main (left right) axis
    justify-content: stretch;*/
    /*justify-content: flex-start;
    justify-content: flex-end;*/
   justify-content: center;
     /*/*justify-content: stretch;*/
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;
    /*justify-content: space-end;*/


    /*cross (up down) axis
    align-items: start;
    /*align-items: space-evenly;*/
    /*align-items:stretch;*/
    /*align-items:space-between;
    align-items:space-around;*/
    align-items:start;
    /*align-items:space-evenly;
    align-content: flex-end;*/
  }

  .flexbox-item {
    margin: 5px;
    padding: 3px; 
   /* border: 3px solid #262626;
    background-color: #D9D9D9;
   */
}

.item-1 {
    /*flex-grow: 1;*/
    width: 20%;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    background-color: rgb(1,65,59);
}
.item-2 {
    /*flex-grow: 1;*/
    width: 70%;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    background-color: #0f4403;
}
.item-3 {
    /*flex-grow: 1;*/
    width: 50%;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    background-color: #0f4403;
}
.item-4 {
    /*flex-grow: 1;*/
    width: 20%;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    background-color: #0f4403;
  align-items: end;
}
.item-5 {
    /*flex-grow: 1;*/
    width: 80%;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    background-color: #0f4403;

}



#banner{
  width: 100%;
}
      body {
        background-color: rgb(140,167,47);
        font-family: 'Nunito', sans-serif;
      }
      h1 {
        text-align: center;
        color: rgb(1,65,59);
      }
      h2{ 
        color: rgb(2,115,104);
        text-align: center;
      }
      h3{
        text-align: center;
        color: rgb(140,167,47);
      }
      p1{
        color: #0f4403;
        text-align: center;
      }
      ol{
      
        text-align: center;
      }
      li{
        color: rgb(1,65,59);
        text-align: center;
      }
      ul{
        text-align: center;
      }
      .topnav {
        background-color:  rgb(1,65,59);
        overflow: hidden;
        text-align: left;
      }
      .topnav a {
        color: rgb(3,167,137);
        text-align: center;
        font-size: 35px;
        text-decoration: none;
       padding: 14px 16px;
       transition: background 0.4s;
      }
      .active {
        background-color: rgb(2,115,104);
      }
      .topnav a:hover{
background-color:rgb(3,167,137);
color:rgb(1,65,59);

      }
      canvas {
        border: thick solid #0f4403;
    background-color: #0f4403;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}
p3 {

  text-align: center;
  color: rgb(1,65,59);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 0px solid rgb(1,65,59);
  background-color: rgb(1,65,59);
  align-self: center;
  color: rgb(3,167,137);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(3,167,137);
  color:rgb(1,65,59);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(2,115,104);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
 
  border-top: none;
  color: rgb(3,167,137)
}
.tablinks{
  color:rgb(3,167,137);
}
.tablinks button:hover {
  color:rgb(1,65,59);
}

/*scroll window*/
table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 0px solid #ddd;
        }
          
        th,
        td {
            text-align: left;
            padding: 8px;
        }
  
        /* width */        
        ::-webkit-scrollbar {
            width: 10px;
        }
  
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
  
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
  
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
          
        .scroll {
            display: block;
            border: 0px solid red;
            padding: 5px;
            margin-top: 5px;
            width: 80%;
            height: 400px;
            overflow-y: scroll;
            align-content: center;
        }
