/*
STYLE NOTES
total colors: 5
color: rgb(140,167,47); BCKGC/ALTBCKC2TXT (Light green)
color: rgb(1,65,59);    ALTBCKC1/HDRTXT (Dark blue)
color: #0f4403;         ALTBCKC2 (Dark green)
color: rgb(3,167,137);  ALTBCKC1TXT (Light blue)
color: rgb(2,115,104);  ACTVBCKC (Greyish blue)
Style colors using javascript and HTML classes

Sizing: 
Only handle sizing in css SCALE TO WIDTH(EVERYTHING!!!!!)

Structure: 
Move away from flex-box and re-write using tables
*/





.LG{
  color: rgb(140,167,47);
  font-size: 20px;


}

  .flexboxContainer{
    display: flex;
    flex-direction: row;
    border: none;


    /*main (left right) axis
    justify-content: stretch;*/
    /*justify-content: flex-start;
    justify-content: flex-end;*/
   justify-content: center;
     /*/*justify-content: stretch;*/
    /*justify-content: space-between;*/
    /*justify-content: space-evenly;
    /*justify-content: space-end;*/


    /*cross (up down) axis
    align-items: start;
    /*align-items: space-evenly;*/
    /*align-items:stretch;*/
    /*align-items:space-between;
    align-items:space-around;*/
    align-items:start;
    /*align-items:space-evenly;
    align-content: flex-end;*/
  }

  .flexbox-item {
    margin: 5px;
    padding: 3px; 
   /* border: 3px solid #262626;
    background-color: #D9D9D9;
   */
}

.item-1 {
    /*flex-grow: 1;*/
    width: 20%;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    background-color: rgb(1,65,59);
}
.item-2 {
    /*flex-grow: 1;*/
    width: 70%;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    background-color: #0f4403;
}
.item-3 {
    /*flex-grow: 1;*/
    width: 50%;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    background-color: #0f4403;
}
.item-4 {
    /*flex-grow: 1;*/
    width: 20%;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    background-color: #0f4403;
  align-items: end;
}
.item-5 {
    /*flex-grow: 1;*/
    width: 80%;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    background-color: #0f4403;

}



#banner{
  width: 100%;
}
      body {
        background-color: rgb(140,167,47);
        font-family: 'Nunito', sans-serif;
      }
      h1 {
        text-align: center;
        color: rgb(1,65,59);
      }
      h2{ 
        color: rgb(2,115,104);
        text-align: center;
      }
      h3{
        text-align: center;
        color: rgb(140,167,47);
      }
      p1{
        color: #0f4403;
        text-align: center;
      }
      ol{
      
        text-align: center;
      }
      li{
        color: rgb(1,65,59);
        text-align: center;
      }
      ul{
        text-align: center;
      }
      .topnav {
        background-color:  rgb(1,65,59);
        overflow: hidden;
        text-align: left;
      }
      .topnav a {
        color: rgb(3,167,137);
        text-align: center;
        font-size: 35px;
        text-decoration: none;
       padding: 14px 16px;
       transition: background 0.4s;
      }
      .active {
        background-color: rgb(2,115,104);
      }
      .topnav a:hover{
background-color:rgb(3,167,137);
color:rgb(1,65,59);

      }
      canvas {
        border: thick solid #0f4403;
    background-color: #0f4403;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}
p3 {

  text-align: center;
  color: rgb(1,65,59);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 0px solid rgb(1,65,59);
  background-color: rgb(1,65,59);
  align-self: center;
  color: rgb(3,167,137);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(3,167,137);
  color:rgb(1,65,59);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(2,115,104);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
 
  border-top: none;
  color: rgb(3,167,137)
}
.tablinks{
  color:rgb(3,167,137);
}
.tablinks button:hover {
  color:rgb(1,65,59);
}

/*scroll window*/
table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 0px solid #ddd;
        }
          
        th,
        td {
            text-align: left;
            padding: 8px;
        }
  
        /* width */        
        ::-webkit-scrollbar {
            width: 10px;
        }
  
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
  
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
  
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
          
        .scroll {
            display: block;
            border: 0px solid red;
            padding: 5px;
            margin-top: 5px;
            width: 80%;
            height: 400px;
            overflow-y: scroll;
            align-content: center;
        }


.projSearchCont{
  width:100%;
  display:table;
}
.tableRow{
  width:100%;
  display:table-row;
/*   border: 10px solid rgb(255,255,255);
  height:10%; */
}
.Nblock a{
/*   text-decoration: none; */
  color:rgb(140,167,47);
  text-de
}

.Nblock{
  width:60%;
  display:table-cell;
  padding:2.5%;
  text-align: center;
  background: #0f4403;
   border: 5px solid rgb(140,167,47); 
}
.Tblock{
  width:30%;
  display:table-cell;
  text-align: center;
  background: #0f4403;
   color:rgb(140,167,47);
  border: 5px solid rgb(140,167,47); 
/*   border: 1px solid rgb(200,65,59); */
}
.Sblock{
  width:70%;
  display:table-cell;
  text-align: center;
  background: #0f4403;
  border: 5px solid rgb(140,167,47) 
/*   border: 1px solid rgb(1,200,200); */
}



/* Dropdown Button */
.dropbtn {
  background-color: rgb(1,65,59);
  color: rgb(3,167,137);
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width:100%;
  border:none;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(2,115,104);}